h3 {
    width: 300pt;
    height:3cm;
    margin-left : 710px;
    border-color: #808080;
    border-style: groove;
    background : rgb(169,169,169);
    margin-top: 5%;
    margin-left:100%;
    margin-bottom: 3%;
    font-size: 8px;
    padding: 4px
    }
<! Stormowski ->